<div>
     <div class="row">
         <div class="col xs3" ng-repeat="aristocrate in game.game.Aristocrates">
             <div class="card">
                 <div class="card-content">
                    {{aristocrate.Id}}
                 </div>
             </div>
         </div>
     </div>
     
    <div class="row" ng-repeat="tier in [1,2,3]">
        <div class="col xs3"  ng-repeat="card in game.game.Cards | filter: card.Tier == tier">
            <div class="card">
                <div class="card-content">
                    {{card.Id}}
                </div>
            </div>
        </div>
    </div>
     
     <div class="row">
         <div class="col xs3" ng-repeat="player in game.game.Players">
             <div class="card" ng-class="{ orange: game.game.CurrentPlayer === player.Id }">
                 <div class="card-content">
                    <span class="card-title">{{player.Name}}</span>
                    <div class="row">
                        <div class="col xs4" ng-repeat="(key, value) in player.Chips">
                            <button class="btn-floating btn-round" ng-class="key | lowercase">{{value}}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col xs4" ng-repeat="(key, value) in player.Cards">
                            <button class="btn btn-round" ng-class="key | lowercase" >{{value}}</button>
                        </div>
                    </p>
                    <div class="row">
                        <div class="col xs4" ng-repeat="player.ReservedCards">
                            
                        </div>
                    </div>
                 </div>
             </div>
         </div>
     </div>
</div>