<div ng-hide="server.games">
    No games present
</div>
<ul class="collection" ng-show="server.games">
    <li class="collection-item row" ng-repeat="game in server.games | filter:{IsStarted: false}" ng-click="server.selectGame(game.GameId)" ng-class="{ active: server.isGameSelected(game) }">
        <span class="col s8">{{game.GameId}}</span>
        <span class="col s3">{{game.Players}}/4</span>
        <span class="col s1"><a href ng-click="server.deleteGame(game)"><i class="material-icons right md-light">delete</i></a></span>
    </li>
</ul>
