<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="splendorApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="splendor.js"></script>
</head>
<body ng-controller="GameController as server">
    <div>
        <input name="playername" ng-model="server.playerName"/>
        <button ng-click="server.showGames()">Show games</button>
        <button ng-click="server.createGame()">Create game</button>
        <button ng-click="server.joinGame()" ng-disabled="!server.GameId">Join game as {{server.playerName}}</button>
    </div>
    <div ng-hide="server.games">
        No games present
    </div>
    <ul ng-show="server.games">
        <li ng-repeat="game in server.games" ng-click="server.selectGame(game.GameId)">
            [{{$index + 1}}] ID: {{game.GameId}} Started:{{ game.IsStarted }} {{ game.Players }}            
        </li>
    </ul>
</body>
</html>